* {
    min-height: 0;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    width: auto;
    height: auto;
}

.app_wrapper_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_wrapper {
    width: 95%;
    height: 100%;
    display: flex;
    overflow: visible;
}

.canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas_wrapper canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-style: solid;
}

.control_wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    flex-shrink: 0;
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    justify-content: center;
}

.coordinate_controls {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    min-width: 30%;
    display: flex;
}

.info_wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.target_wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.target_canvas_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
}

.target_canvas_wrapper canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-style: solid;
}

.control_input {
    max-width: 6em;
}

@media (orientation: landscape) {
    .app_wrapper {
	flex-direction: row;
    }
    .canvas_wrapper {
	max-height: 100%;
    }
    .coordinate_controls {
	flex-direction: column;
    }
    .info_wrapper {
	flex-direction: column;
    }
    .target_wrapper {
	justify-content: center;
	align-items: center;
    }
    .control_wrapper {
	margin-left: 10px;
    }
}

@media (orientation: portrait) {
    .app_wrapper {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: scale-down;
    } 
    .canvas_wrapper {
	max-height: 40%;
    }
    .coordinate_controls {
	flex-direction: row;
    }
    .info_wrapper {
	flex-direction: row;
    }
    .target_canvas_wrapper {
	max-height: 20%;
    }
    .control_wrapper {
	justify-content: center;
	align-items: center;
	margin-top: 10px;
    }
    .coordinate_controls {
	justify-content: center;
	align-items: center;
    }
    .target_wrapper {
	
    }
}

