* {
    min-height: 0;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 1em;
}

#coords {
    display: none;
}

input {
    width: 4em;
}

button {
    width: auto;
    height: auto;
}

.app_wrapper_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_wrapper {
    width: 95vw;
    height: 95vh;
    display: flex;
    overflow: visible;
}

.canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas_wrapper canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-style: solid;
}

.control_wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    flex-shrink: 0;
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    justify-content: center;
}

.coordinate_controls {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    min-width: 30%;
    display: flex;
    margin: 5px;
}

.center_coord_wrapper {
    display: flex;
}

.info_wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.target_wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target_canvas_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
}

.target_canvas_wrapper canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-style: solid;
}

.zoom_wrapper {
    display: flex;
}

.coord_wrapper {
    margin: 5px;
}

.coord_wrapper label {
    margin: 5px;
}

#new_target {
    margin: 5px;
}

@media (orientation: landscape) {
    .app_wrapper {
	flex-direction: row;
    }
    .canvas_wrapper {
	max-height: 100%;
	max-width: 100%;
    }
    .coordinate_controls {
	flex-direction: column;
    }
    .info_wrapper {
	flex-direction: column;
	justify-content: center;
	align-items: center;
    }
    .target_wrapper {
	justify-content: center;
    }
    .zoom_wrapper {
	flex-direction: column;
    }
}

@media (orientation: portrait) {
    .app_wrapper {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: scale-down;
    } 
    .canvas_wrapper {
	max-height: 80%;
	max-width: 80%;
    }
    .info_wrapper {
	flex-direction: row;
    }
    .target_canvas_wrapper {
	max-height: 50%;
	max-width: 50%;
    }
    .control_wrapper {
	justify-content: center;
	align-items: center;
    }
    .coordinate_controls {
	flex-direction: column;
	justify-content: center;
	align-items: center;
    }

    .coord_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    }
    .zoom_wrapper {
	flex-direction: row;
    }   

}

